<h1>プロフィール</h1>


<h3>アイコン画像</h3>
<%# <%= @user.img.variant(resize: '500x500') %> %>
<%# <%= image_tag @user.img.variant(resize: '500x500') %> %>
<%= image_tag @user.img.url%>

<h3>名前</h3>
<%= @user.name %>

<h3>自己紹介</h3>
<%= @user.introduction %>

<%= link_to "編集", edit_profiles_path, class: 'post' %>

<%= link_to "アカウント", users_account_path, class: 'post' %>