<%# <%= form_with model: @reservation, url: edit_confirm_reservation_url(@reservation), local: true  do |f| %> %>
<%= form_with model: @reservation, url: confirm_reservations_url(@reservation), local: true  do |f| %>
<%# <%= form_with model: @reservation do |f| %> %>
<%# <%= form_with model: Reservation.new, url: confirm_reservations_url(@reservation), local: true  do |f| %> %>
  <div class="field">
    <%= f.label :start_date ,"チェックイン" %> <br />
    <%= f.date_field :start_date, autocomplete: "start_date" %>
  </div>

  <div class="field">
    <%= f.label :end_date ,"チェックアウト" %><br />
    <%= f.date_field :end_date, autocomplete: "end_date" %>
  </div>

  <div class="field">
    <%= f.label :number_people ,"人数"%>
    <%= f.text_field :number_people, autocomplete: "number_people" %>
  </div>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%# <%= f.hidden_field :price %> %>
  <%# <%= f.hidden_field :fee, value: @room.fee %> %>

  <div class="actions">
    <%= f.submit "保存" %>
    <%# <%= link_to "予約する", reservations_path, class: 'post' %> %>
  </div>
<% end %>