<h1>予約内容の確認</h1>


       <h3>チェックイン</h3>
       <%= @reservation.start_date %>
       <%# <td><%= reservation.start_date.strftime('%Y/%m/%d') %></td> %>
       <h3>日数</h3>
       <h3>チェックアウト</h3>
       <%= @reservation.end_date %>
       <%# <td><%= reservation.end_date.strftime('%Y/%m/%d') %></td> %>
       <h3>人数</h3>
       <%= @reservation.number_people %>
       <%# <td><%= reservation.created_at.strftime('%Y/%m/%d')%></td> %>
       <h3>お支払い金額</h3>
       <%= @reservation.created_at%>

