<h1>登録済み一覧</h1>

<table>
<thead>
   <tr>
     <th>画像</th>
     <th>施設名</th>
     <th>紹介文</th>
     <th>料金</th>
     <th>作成日</th>
   </tr>
 </thead>
 
 <tbody>
   <% @rooms.each do |room| %>
     <tr>
       <%# <td><%= image_tag @room.room_img.url</td>  %>
       <td><%= room.room_name %></td>
       <td><%= room.room_detail %></td>
       <td><%= room.fee %></td>
       <td>
         <%= link_to "参照", room %>
       </td>
     </tr>
   <% end %>
 </tbody>
</table>

<p><%= link_to "施設新規登録", :new_room %></p>