<h2>新規登録</h2>

<%= form_with model: @room do |f| %>
<%= render "layouts/error", obj: @room %>

  <div class="field">
    <%= f.label :room_name ,"施設名" %><br />
    <%= f.text_field :room_name, autocomplete: "room_name" %>
  </div>

  <div class="field">
    <%= f.label :room_detail ,"施設詳細" %><br />
    <%= f.text_area :room_detail, autocomplete: "room_detail" %>
  </div>

  <div class="field">
    <%= f.label :fee ,"料金" %><br />
    <%= f.text_field :fee, autocomplete: "fee" %>
  </div>

  <div class="field">
    <%= f.label :address ,"住所"%><br />
    <%= f.text_field :address, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :room_img ,"施設画像" %><br />
    <%= f.file_field :room_img, autocomplete: "room_img" %>
  </div>

  <%= f.hidden_field :user_id %>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>



