
<h1>登録済み一覧</h1>

<h3>画像</h3>
<%# <%= image_tag @room.img.url %> %>

<h3>施設名</h3>
<%= @room.room_name %>

<h3>紹介文</h3>
<%= @room.room_detail %>

<h3>料金</h3>
<%= @room.fee %>

<% if @room.user_id == current_user.id %>
  <%= link_to("編集", "/rooms/#{@room.id}/edit") %>
  <%= link_to("削除", "/rooms/#{@room.id}/destroy", {method: "room"}) %>
<% end %>