<h1>登録済み一覧</h1>

<div class="search_form">
    <%= search_form_for @q, url: search_path do |f| %>
   <%= f.search_field :address_cont, class: 'form-control', placeholder: 'エリア名を入力' %>
   <%= f.search_field :room_name_or_room_detail_cont, class: 'form-control', placeholder: 'キーワード名を入力' %>
   <%= f.submit '検索', class: 'btn btn-primary' %>
    <% end %>
</div>

<h3>画像</h3>
<%= image_tag @room.room_img.url, size: '350x200' %>

<h3>施設名</h3>
<%= @room.room_name %>

<h3>紹介文</h3>
<%= @room.room_detail %>

<h3>料金</h3>
<%= @room.fee %>

<h3>住所</h3>
<%= @room.address %>

<%= form_with model: @reservation, url: confirm_reservations_url(@reservation), local: true  do |f| %>
<%= render "layouts/error", obj: @reservation %>

  <div class="field">
    <%= f.label :start_date ,"チェックイン" %> <br />
    <%= f.date_field :start_date, autocomplete: "start_date" %>
  </div>

  <div class="field">
    <%= f.label :end_date ,"チェックアウト" %><br />
    <%= f.date_field :end_date, autocomplete: "end_date" %>
  </div>

  <div class="field">
    <%= f.label :number_people ,"人数"%><br />
    <%= f.text_field :number_people, autocomplete: "number_people" %>
  </div>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.hidden_field :fee, value: @room.fee %>

  <div class="actions">
    <%= f.submit "予約する" %>
  </div>
<% end %>


<% if @room.user_id == current_user.id %>
  <%= link_to("編集", "/rooms/#{@room.id}/edit") %>
<% end %>


<%= link_to "戻る", :back %>
